:root {
  --beige: #fff5e0;
  --light_green: #8decb4;
  --dark_green: #41b06e;
  --dark_navy: #141e46;
}
body {
  /* height: 100%; */
  background-color: #f1f3f6 !important;
}
#__next {
  /* background-color: #f1f3f6; */
  /* background-color: var(--dark_navy); */
  /* height: 100%; */
  /* background: url("https://png.pngtree.com/background/20230612/original/pngtree-green-and-lush-trees-and-moss-are-coming-out-of-green-picture-image_3176311.jpg"); */
}
/* .login_container {
  background: url("https://png.pngtree.com/background/20230612/original/pngtree-green-and-lush-trees-and-moss-are-coming-out-of-green-picture-image_3176311.jpg");
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555 !important;
}
/* .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: var(--dark_green) !important;
} */
.navbar_div {
  background-color: var(--dark_green) !important;
}
.login_div {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
}
.login_div_modal {
  /* width: 30%; */
  width: 100%;
  /* margin: 1rem auto; */
  /* border: solid 1px #e5e5e5; */
  padding: 2rem;
  border-radius: 10px;
}
.bg_light {
  background-color: white;
}
.svg_icon {
  color: black;
  cursor: pointer;
  font-size: 22px;
}
.custom_input {
  border: solid 1px lightgray;
  border-radius: 5px;
  outline: none;
  padding: 14px 10px;
  width: 100%;
  color: black;
  margin: 0.5rem 0 0.5rem;
}
.password_input {
  border: none;
  outline: none;
  width: 100%;
}
.custom_button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 14px;
  background-color: var(--dark_green);
  color: white;
  margin: 0.5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.anchor_tag {
  text-decoration: none;
  color: gray;
}
.login_text {
  font-size: 26px;
  margin-bottom: 2rem;
}
.register_div {
  width: 100%;
  padding: 2rem;
}
.nav_menu_btn {
  color: white;
  font-size: 15px;
  /* font-weight: 600; */
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  margin-left: 1rem;
}
.error_text {
  color: red;
  font-size: 14px;
  font-weight: 600;
}
.sub_menu {
  border-bottom: solid 1px #e5e5e5;
  padding: 5px 0;
}
.buyer_layout {
  display: flex;
  justify-content: space-between;
}
.sidebar_div {
}
.sub_nav_div {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 2px rgba(0, 0, 0, 0.12);
}
.children_div {
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 2px rgba(0, 0, 0, 0.12);
}
.menu_div {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.profile_main_menu {
  text-transform: uppercase;
  font-size: 14px;
  color: gray;
  letter-spacing: 0.7px;
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.profile_main_menu_active {
  background-color: rgb(0 0 0 / 15%);
  border-radius: 5px;
  color: var(--dark_green);
}
.profile_sub_menu {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  width: 70%;
  margin: 10px auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.profile_sub_menu_active {
  background-color: rgb(0 0 0 / 15%);
  border-radius: 5px;
  color: var(--dark_green);
}
.image_menu_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 100%;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdownItem {
  cursor: pointer;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.filter_menu {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.filter_menu_active {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark_green);
}
.product_list_div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}
.product_list {
  width: 15%;
  margin-left: 10px;
  border: solid 1px #d5d5d5;
  padding: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.product_info_div {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.product_left_div {
  border: solid 1px #d5d5d5;
  border-radius: 10px;
}
