:root {
  --beige: #fff5e0;
  --light_green: #8decb4;
  --dark_green: #41b06e;
  --dark_navy: #141e46;
}
body {
  /* height: 100%; */
}
#__next {
  /* background-color: var(--dark_navy); */
  /* height: 100%; */
  /* background: url("https://png.pngtree.com/background/20230612/original/pngtree-green-and-lush-trees-and-moss-are-coming-out-of-green-picture-image_3176311.jpg"); */
}
/* .login_container {
  background: url("https://png.pngtree.com/background/20230612/original/pngtree-green-and-lush-trees-and-moss-are-coming-out-of-green-picture-image_3176311.jpg");
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555 !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: var(--dark_green);
}
.login_div {
  /* width: 30%; */
  width: 100%;
  /* margin: 1rem auto; */
  /* border: solid 1px #e5e5e5; */
  padding: 2rem;
  border-radius: 10px;
  /* background: url("/public/assets/login_bg.jpg"); */
}
.bg_light {
  background-color: white;
}
.svg_icon {
  color: black;
  cursor: pointer;
}
.custom_input {
  border: solid 1px lightgray;
  border-radius: 5px;
  outline: none;
  padding: 14px 10px;
  width: 100%;
  color: black;
  margin: 0.5rem 0 0.5rem;
}
.password_input {
  border: none;
  outline: none;
  width: 100%;
}
.custom_button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 14px;
  background-color: var(--dark_green);
  color: white;
  margin: 0.5rem 0 1rem;
}
.anchor_tag {
  text-decoration: none;
  color: gray;
}
.login_text {
  font-size: 26px;
  margin-bottom: 2rem;
}
.register_div {
  width: 100%;
  padding: 2rem;
}
.nav_menu_btn {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.error_text {
  color: red;
  font-size: 14px;
  font-weight: 600;
}
/* .google_btn button {
  background-color: red;
} */
